---
  apiVersion: integrations.flux/v1
  kind: FluxHelmResource
  metadata:
    name: hlmhelloworld
    namespace: kube-system
    labels:
      chart: charts_helloworld
  spec:
    chartgitpath: charts/helloworld
    customizations:
      - name: image.repository
        value: quay.io/weaveworks/helloworld
      - name: image.tag
        value: master-a000001
---
  apiVersion: integrations.flux/v1
  kind: FluxHelmResource
  metadata:
    name: hlmbyeworld
    namespace: kube-system
    labels:
      chart: charts_byeworld
  spec:
    chartgitpath: charts/byeworld
    customizations:
      - name: image.repository
        value: quay.io/tamara/byeworld:master-a000003
      - name: image.tag
        value: master-a000003

