---
  apiVersion: integrations.flux/v1
  kind: FluxHelmResource
  metadata:
    name: hlmhelloworld
    namespace: kube-system
    labels:
      chart: helloworld
  spec:
    chartgitpath: helloworld
    customizations:
      - name: image.repository
        value: quay.io/weaveworks/helloworld
      - name: image.tag
        value: master-a000002
---
  apiVersion: integrations.flux/v1
  kind: FluxHelmResource
  metadata:
    name: hlmbyeworld
    namespace: kube-system
    labels:
      chart: byeworld
  spec:
    chartgitpath: byeworld
    customizations:
      - name: image.repository
        value: quay.io/tamara/byeworld:master-a000001
      - name: image.tag
        value: master-a000003

